@using KeysShop.Core
@model KeysShop.Repository.Dto.KeyCreateDto
@{
        var brands = ViewBag.Brands as IEnumerable<Brand>;
    Layout = "~/Views/Shared/_BreezeLayout.cshtml";

}
<div class="content-wrapper pb-0 text-center">
<h4>Key</h4>
<hr />
@*<div class="content-wrapper pb-0 text-center">
<h4>Key</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="mb-3">
                    <label asp-for="Brand" class="form-label"></label>
                <select class="form-select" size="3" id="brands" name="brands">
                    @foreach (var b in brands)
                    {
                            <option value="@b.Name">@b.Name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sale" class="control-label"></label>
                <input asp-for="Sale" class="form-control" />
                <span asp-validation-for="Sale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Frequency" class="control-label"></label>
                <input asp-for="Frequency" class="form-control" />
                <span asp-validation-for="Frequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Count" class="control-label"></label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImgPath" class="control-label"></label>
                <input asp-for="ImgPath" class="form-control" />
                <span asp-validation-for="ImgPath" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsOriginal" /> @Html.DisplayNameFor(model => model.IsOriginal)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsKeyless" /> @Html.DisplayNameFor(model => model.IsKeyless)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
*@
    <div class="col-12 grid-margin">
        <div class="card">
            <form asp-action="Create" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
            <div class="card-body">
                <h4 class="card-title">Horizontal Two column</h4>
                <div class="form-sample">
                    <p class="card-description">Personal info</p>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" asp-for="Name"></label>
                                <div class="col-sm-9">
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" asp-for="Description"></label>
                                <div class="col-sm-9">
                                    <input asp-for="Description" class="form-control" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="mb-3">
                                    <label class="form-label" </label>
                                </div>
                                <label class="col-sm-3 col-form-label" asp-for="Brand"></label>
                                <div class="col-sm-9">
                                    <select class="form-select" size="3" id="brands" name="brands">
                                        @foreach (var b in brands)
                                        {
                                            <option value="@b.Name">@b.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="form-group">
                                    <label class="control-label" </label>

                                </div>
                                <label class="col-sm-3 col-form-label" asp-for="Price"></label>
                                <div class="col-sm-9">
                                    <input asp-for="Price" class="form-control" />
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="form-group">
                                    <label class="control-label" </label>

                                </div>
                                <label class="col-sm-3 col-form-label" asp-for="Sale"></label>
                                <div class="col-sm-9">
                                    <input asp-for="Sale" class="form-control" />
                <span asp-validation-for="Sale" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" asp-for="Frequency"></label>
                                    <div class="col-sm-4">
                                        <input asp-for="Frequency" class="form-control" />
                                        <span asp-validation-for="Frequency" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="form-group">
                                        <label class="control-label" </label>

                                    </div>
                                    <label class="" col-sm-3 col-form-label" asp-for="ImgPath"></label>
                                    <div class="col-sm-9">
                                        <input class="form-control" name="picture" id="picture" type="file" />
                                        <input class="col-sm-3 col-form-label" asp-for="ImgPath" type="hidden" value="0"></input>
                                        <span asp-validation-for="ImgPath" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="IsOriginal" /> @Html.DisplayNameFor(model => model.IsOriginal)
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="IsKeyless" /> @Html.DisplayNameFor(model => model.IsKeyless)
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                       
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                   
                </div>
                </form>
                <!--сторого залишити-->
            </div>
        </div>
    </div></div>
@section Scripts {
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(function() {
            $(".form-select").select2();
        });
    </script>
}