@{
    Layout = "~/Views/Shared/_BreezeLayout.cshtml";
}

@using KeysShop.Repository;
@using KeysShop.Core;
@inject IHttpContextAccessor Accessor

    @*                    <td><img src="~/Content/Images/@item.Product.Photo" width="60" /> </td>*@
   @* <h3>Cart Page</h3>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Option</th>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Sub Total</th>
        </tr>
        @foreach (CartItem item in Accessor.HttpContext.Session.GetObject<List<CartItem>>("cart"))
        {
                <tr>
                    <td><a href="@Url.Action("Remove", "Cart", new { id = item.Key.Id })">Remove</a></td>
                    <td>@item.Key.Id</td>
                    <td>@item.Key.Name</td>

                    <td>@item.Key.Price</td>
                    <td>@item.Quantity</td>
                    <td>@(item.Key.Price * item.Quantity)</td>
                </tr>
        }
        <tr>
            <td align="right" colspan="6">Sum</td>
            <td>
                @{
                    List<CartItem> cart = Accessor.HttpContext.Session.GetObject<List<CartItem>>("cart");
                    var total = cart.Sum(item => item.Key.Price * item.Quantity);
                }
                @total
            </td>
        </tr>
    </table>*@
    <br>
   

<section class="vh-100" style="background-color: #fdccbc;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <p><span class="h2">Cart Page </span><span class="h4"></span></p>
                
                <div class="card mb-4">
                    <div class="card-body p-4">
                        @foreach (CartItem item in Accessor.HttpContext.Session.GetObject<List<CartItem>>("cart"))
                        {
                            
                                <div class="row align-items-center">
                                    <div class="col-md-2">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/1.webp"
                                         class="img-fluid" alt="Generic placeholder image">
                                    </div>
                                <div class="col-md-2 d-flex justify-content-center">
                                    <div>
                                        <p class="small text-muted mb-4 pb-2">Id</p>
                                        <p class="lead fw-normal mb-0">
                                            <td>@item.Key.Id</td>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-2 d-flex justify-content-center">
                                    <div>
                                        <p class="small text-muted mb-4 pb-2">Name</p>
                                        <p class="lead fw-normal mb-0"><td>@item.Key.Name</td></p>
                                    </div>
                                </div>
                                <div class="col-md-2 d-flex justify-content-center">
                                    <div>
                                        <p class="small text-muted mb-4 pb-2">Price</p>
                                        <p class="lead fw-normal mb-0"> <td>@item.Key.Price</td></p>
                                    </div>
                                </div>
                                <div class="col-md-2 d-flex justify-content-center">
                                    <div>
                                        <p class="small text-muted mb-4 pb-2">Quantity</p>
                                        <p class="lead fw-normal mb-0"><td>@item.Quantity</td></p>
                                    </div>
                                </div>
                               
                            <div class="col-md-2 d-flex justify-content-center">
                                <div>
                                    <p class="small text-muted mb-4 pb-2">Total</p>
                                        <p class="lead fw-normal mb-0"> <td>@(item.Key.Price * item.Quantity)</td></p>
                                </div>
                            </div>
                        </div>      
                        }
                        
                        </div>
                        </div>                
                <div class="card mb-5">
                    <div class="card-body p-4">
                      @foreach (CartItem item in Accessor.HttpContext.Session.GetObject<List<CartItem>>("cart"))
                        {
                        <div class="float-end">
                            <p class="mb-0 me-5 d-flex align-items-center">
                                <span class="small text-muted me-2">Order total:</span> <span class="lead fw-normal"><td>@(item.Key.Price * item.Quantity)</td></span>
                            </p>
                        </div>
                         }
                    </div>
                </div>


                <div class="d-flex justify-content-end">

                     
                    <button type="button" class="btn btn-light btn-lg me-2"> <a href="@Url.Action("Index", "Key")">Continue Shopping</a></button>
                    <button type="button" class="btn btn-primary btn-lg">Add to cart</button>
                       
                </div>

            </div>
        </div>
    </div>
</section>
